h1{
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue;
}

p{
    font-size: 14px;
}

h2{
    color: darkblue;
}

span.especial{
    color: darkorange;
}

#subtitulo{
    color: rgb(5, 5, 214);
}

table{
      font-family: Arial, Helvetica, sans-serif;
}

th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
 }

 #adicional{
     color: olive;
 }